@model Kartvizit.Models.bolum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>bolum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shortDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shortDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.longDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.bolumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
