@model kartvizit.Models.firma

@{
    ViewData["Title"] = "Silme İşlemini Onayla";
}

<section class="checkout-page">
    <div class="auto-container">

        <!--Checkout Details-->
        <div class="checkout-form">
            <h4>Firma kaydını silmek istediğinize emin misiniz?</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.shortDesc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.shortDesc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.phone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.phone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.address)
                </dd>
                <dt class="col-sm-2">
                    Firma Kategorisi:
                </dt>
                <dd class="col-sm-10">
                    @ViewData["bolumAdi"]
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="firmaId" />
                <input type="submit" value="Sil" class="btn btn-danger" /> |
                <a asp-action="AdminIndex" asp-route-id="@ViewData["bolumId"]">Geri Dön</a>
            </form>
        </div>
    </div>
</section>
